body {
  background-color: rgb(18, 18, 18);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 15px;
}

.icon-container {
  position: relative;
  display: inline-block;
}

/* Tooltip styles */
.icon-container::after {
  content: attr(data-title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.icon-container:hover::after {
  opacity: 1;
  visibility: visible;
}

/* Color change on hover for each link */
.github-link:hover {
  color: #333; /* Change to desired hover color for GitHub */
}

.linkedin-link:hover {
  color: #0077b5; 
}

.website-link:hover {
  color: #ff4500; 
}

.fa-brands, .fa-solid {
  color: inherit;
}

.cs-message-input__content-editor {
  padding: 5px;
  text-align: left;
}
.cs-message-input__content-editor-wrapper {
  padding: 5px;
}
.svg-inline--fa, .fa-paperclip, .fa-w-14 {
  padding: auto;
}
.cs-message__content {
  background-color: lightgray !important;
  font-weight: 500 !important;
  padding: 0.5em 1em !important;
}

.cs-conversation-header,
.cs-message-input__content-editor-wrapper,
.cs-message-input__content-editor {
  background-color:dimgrey !important;
}

.scrollbar-container,
.cs-message-list__scroll-wrapper,
.ps,
.cs-message-input {
  background-color: rgb(46, 46, 46) !important;
}

