@charset "utf-8";
//flexible grid layouts
/* .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;
} */
//flexible images and media
/* img, video {
  max-width: 100%;
  height: auto;
} */
//media queries
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .main-content {
    margin: 0;
  }
}
//font sizes and spacing
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
}
.root {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
}
//navigation
/* @media (max-width: 600px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .menu {
    display: none;
  }
  .menu-icon {
    display: block;
  }
} */
//touch targets
@media (max-width: 600px) {
  .button, .link {
    padding: 15px;
  }
}
//hide or display elements
@media (max-width: 600px) {
  .desktop-only {
    display: none;
  }
}

.cs-conversation-header1 {
  text-align: center !important;

}
.luciano {
  text-align: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: left;
}

.icon-container {
  position: relative;
  display: inline-block;
}

/* Tooltip styles */
.icon-container::after {
  content: attr(data-title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.icon-container:hover::after {
  opacity: 1;
  visibility: visible;
}

/* Color change on hover for each link */
.github-link:hover {
  color: #333;
}

.linkedin-link:hover {
  color: #0077b5; 
}

.website-link:hover {
  color: #ff4500; 
}

.fa-brands, .fa-solid {
  color: inherit;
}
footer {
  text-align: center;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.scrollbar-container.cs-message-list__scroll-wrapper.ps,
.cs-conversation-header
{
  bottom: 20px;
  right: 20px;
  border: 1px solid #ddd;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

}
.cs-message-input {
  border: 1px solid #ddd;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.cs-main-container {
  border: 1px solid #ddd;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.cs-message-list__typing-indicator-container {
  color: black !important;
}
.cs-message.cs-message--incoming, .cs-message.cs-message--outgoing {
  overflow: hidden;
  width: fit-content;
  border-radius: 10px;
}

.cs-button.cs-button--attachment {
  visibility: hidden;
}
.cs-button.cs-button--send {
  color: rgb(35, 35, 248);
  filter: brightness(350%);
}
.chat-container {
  width: 700px; 
  height: 600px;
  transition: height 0.3s ease-in-out;
}

.cs-conversation-header {
  width: 100%;
  background-color: black !important;
}
.cs-button.cs-button--attachment1 {
  cursor: pointer;
  
}
.robo {
  text-align: center;
  text-decoration: underline;
  color:#333;
}

.cs-message-list {
  background-color: black !important;
} 
.cs-message-input, .cs-message-content {
  background-color: black !important;
}
/* loading screen */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
